.equation-field {
  width: 370px;
  border: 1px solid #555;
  margin-top: -1px;
  padding: 6px;
  display: flex;
}

.equation-field.active {
  outline: 2px solid #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  order: 2;
}

.expr-field {
  flex-grow: 100;
}

.answer-field {
  float: right;
  margin: auto;
}

#buttons {
  width: 400px;
  display: block;
}

.btn {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: linear-gradient(#eee, #ddd);
  height: 60px;
  width: 60px;
  margin: 1px;
  position: relative;
  float: left;
  cursor: pointer;
}

.btn:hover {
  background: #ccc;
}

.btn:active {
  background: linear-gradient(#aaa, #bbb);
}

.btn-text {
  font-size: 20px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
