.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#math-fields {
  border: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
  border-bottom: 0;
  height: 260px;
  vertical-align: bottom;
  display: table-cell;
}

.equation-field {
  width: 674px;
  border: 1px solid #ccc;
  margin: -1px;
  padding: 6px;
  display: flex;
}

.equation-field.active {
  outline: 2px solid #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  order: 2;
}

.expr-field {
  flex-grow: 1;
}

.answer-field {
  float: right;
  margin: auto;
}

#buttons {
  border: 1px solid #ddd;
  border-radius: 0 0 8px 8px;
  padding: 3px;
  height: 272px;
  width: 680px;
  background-color: #eee;
  display: block;
}

.btn {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: linear-gradient(#eee, #ddd);
  height: 60px;
  width: 60px;
  margin: 3px;
  position: relative;
  float: left;
  cursor: pointer;
}

.btn.number {
  background: linear-gradient(#fff, #eee);
}

.btn:hover {
  background: #ccc;
}

.btn:active {
  background: linear-gradient(#aaa, #bbb);
}

.btn-text {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
